
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
    width: 100%;
}
h1 span.orange-color{
    color: orange;
}
section.sec1{
    display: flex;
    background-image: url("images/circleimage2-removebg-preview.png");
    background-repeat: no-repeat;
    background-size: 100px 100px;
    background-position-x: -40px;
    background-position-y: -40px;
}
.half-width{
    width: 50%;
    padding-left: 5%;
}
.half-width img{
    width: 90%;
}
.half-width a{
    text-decoration: none;
    background-image: linear-gradient(to right,orange, rgb(252, 120, 13));
    padding: 10px 35px;
    border-radius: 5px;
    color: white;
    font-weight: 600;
}
.half-width a:hover{
    color: blue;
}
.half-width a:active{
    color: yellow;
    box-shadow: 2px 2px 7px black;
}


section.sec2{
    display: flex;
    margin-top: 50px;
    background-image: url("images/circleimage1-removebg-preview.png");
    background-repeat: no-repeat;
    background-position-x: 106%;
    background-position-y: 150%;
    background-size:20%;
}
section.sec2 div.hwidth{
    width: 50%;

}

section.sec2 div.hwidth img{
    width: 90%;

}
div.mar{
    margin-right: 10%;
}
section.sec2 a{
    text-decoration: none;
    background-image: linear-gradient(to right,orange, rgb(252, 120, 13));
    padding: 10px 35px;
    border-radius: 5px;
    color: white;
    font-weight: 600;
}
section.sec2 a:hover{
    color: blue;
}
section.sec2 a:active{
    color: yellow;
    box-shadow: 2px 2px 7px black;
}